@model RentLodge.Models.Apartment
@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
</div>
   <div class="row details-body">
    <div class="col l9 offset-l3">
        <div class="details-form">
            <form asp-controller="Reservation" asp-action="Create" method="post">
                <input asp-for="Id" type="hidden" />
                <input asp-for="UserId" type="hidden" />
                <div class="row">
                <h3>@Html.DisplayNameFor(modelItem => modelItem.Title) : @Html.DisplayFor(modelItem => modelItem.Title)</h3>
                <h5>@Html.DisplayNameFor(modelItem => modelItem.Price) : @Html.DisplayFor(modelItem => modelItem.Price)</h5>
                <h5>@Html.DisplayNameFor(modelItem => modelItem.Rating) : @Html.DisplayFor(modelItem => modelItem.Rating)</h5>
                </div>
               <div class="row">
                   <div class="col l8">
                       <div id="PartialAddress"></div>
                       <div id="PartialDescription"></div>
                   </div>
                   <div class="col l4">
                       @*<div id="PartialAddress"></div>*@
                   </div>
               </div>
                <button type="submit" class="btn btn-default">Rent </button>
            </form>
        </div>
    </div>
</div>

<div>
    <div class="row">

        @if (Model.Photos != null)
        {
            <hr />
            <div class="carousel">
                @foreach (var photo in Model.Photos)
                {
                    string photoImage = "";
                    if (photo.Image != null)
                    {
                        var base64File = Convert.ToBase64String(photo.Image);
                        photoImage = String.Format("data:image/gif;base64,{0}", base64File);

                    }
                    <div class="dope-af-card">
                        <a class="carousel-item"><img src="@photoImage"></a>
                    </div>
                }
            </div>
        }
    </div>

</div>
    @if (Model.Reviews.Count > 0)
    {
        <div class="row">
            <div class="col l7 offset-l3">
                    @foreach (var review in Model.Reviews)
                {
                        <div class="card">
                            <div class="card-content white-text">
                                <span class="card-title">@review.Date.ToString("yyyy MMMM")</span>
                                <span class="card-title">@review.Guest.FirstName @review.Guest.LastName</span>
                                <span class="card-title">Rating: @review.Rating</span>

                                <p>
                                    @review.ReviewBody
                                </p>
                            </div>
                            <div class="card-action">
                                @if (@review.Rating > 3)
                                {
                                    <a>Recommend</a>
                                }
                                else
                                {
                                    <a>Do not reccomend</a>

                                }
                            </div>
                        </div>
                    }
            </div>
        </div>
    }


            <script type="text/javascript">
                $(document).ready(function () {
                    $.ajax({
                        dataType: 'html',
                        url: '@Url.Action("Details", "Description")',
                        data: { id: @Model.DescriptionId},
                        type: 'GET',
                        contentType: 'application/html',
                        success: function (result) {
                            $('#PartialDescription').html(result);
                        }
                    });

                    $.ajax({
                        dataType: 'html',
                        url: '@Url.Action("Details", "Address")',
                        data: {id: @Model.AddressId},
                        type: 'GET',
                        contentType: 'application/html',
                        success: function (result) {
                            $('#PartialAddress').html(result);
                        }
                    });
                });
            </script>
