@model RentLodge.Models.Apartment
@{
    ViewData["Title"] = "Details";
}
<div>
    <form asp-controller="Reservation" asp-action="Create" method="post">
        <input asp-for="Id" type="hidden"/>
        <input asp-for="UserId" type="hidden" />

        <h4>Apartment</h4>
        <hr />
        <h2>@Html.DisplayNameFor(modelItem => modelItem.Price) : @Html.DisplayFor(modelItem => modelItem.Price)</h2>
        <h2>@Html.DisplayNameFor(modelItem => modelItem.Title) : @Html.DisplayFor(modelItem => modelItem.Title)</h2>

        <div id="PartialDescription"></div>
        <div id="PartialAddress"></div>

        <button type="submit" class="btn btn-default">Rent </button>

    </form>
    @*<button onclick="location.href='@Url.Action("Index", "Users")';return false;">Cancel</button>*@

</div>
    
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
                dataType: 'html',
                url: '@Url.Action("Details", "Description")',
                data: { id: @Model.DescriptionId},
                type: 'GET',
                contentType: 'application/html',
                success: function (result) {
                    $('#PartialDescription').html(result);
                }
        });

        $.ajax({
            dataType: 'html',
            url: '@Url.Action("Details", "Address")',
            data: {id: @Model.AddressId},
            type: 'GET',
            contentType: 'application/html',
            success: function (result) {
                $('#PartialAddress').html(result);
            }
        });
    });
</script>
