@model RentLodge.Models.Apartment
@{
    ViewData["Title"] = "Details";
}

    <h4>Apartment</h4>
    <hr />
        <h2>@Html.DisplayNameFor(modelItem => modelItem.Price) : @Html.DisplayFor(modelItem => modelItem.Price)</h2>
        <h2>@Html.DisplayNameFor(modelItem => modelItem.Title) : @Html.DisplayFor(modelItem => modelItem.Title)</h2>

    <div id="PartialDescription"></div>
    <div id="PartialAddress"></div>



    <script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
                dataType: 'html',
                url: '@Url.Action("Details", "Description")',
                data: { id: @Model.DescriptionId},
                type: 'GET',
                contentType: 'application/html',
                success: function (result) {
                    $('#PartialDescription').html(result);
                }
        });

        $.ajax({
            dataType: 'html',
            url: '@Url.Action("Details", "Address")',
            data: {id: @Model.AddressId},
            type: 'GET',
            contentType: 'application/html',
            success: function (result) {
                $('#PartialAddress').html(result);
            }
        });
    });

        //$(document).ready(function () {
           
        //});
    </script>
