@model RentLodge.Models.Description
@{
    ViewData["Title"] = "Details";
}
    <h5>Description</h5>
    <hr />
    <p>@Html.DisplayNameFor(modelItem => modelItem.Bedrooms) : @Html.DisplayFor(modelItem => modelItem.Bedrooms)</p>
    <p>@Html.DisplayNameFor(modelItem => modelItem.Bathrooms) : @Html.DisplayFor(modelItem => modelItem.Bathrooms)</p>
    <p>@Html.DisplayNameFor(modelItem => modelItem.Floor) : @Html.DisplayFor(modelItem => modelItem.Floor)</p>
    <p>@Html.DisplayNameFor(modelItem => modelItem.Guests) : @Html.DisplayFor(modelItem => modelItem.Guests)</p>
    <p>Aditional Information : @Html.DisplayFor(modelItem => modelItem.AditionalInfo)</p>
