@model RentLodge.Models.Description
@{
    ViewData["Title"] = "Details";
}

    <h4>Description</h4>
    <hr />
    <h5>@Html.DisplayNameFor(modelItem => modelItem.Bedrooms) : @Html.DisplayFor(modelItem => modelItem.Bedrooms)</h5>
    <h5>@Html.DisplayNameFor(modelItem => modelItem.Bathrooms) : @Html.DisplayFor(modelItem => modelItem.Bathrooms)</h5>
    <h5>@Html.DisplayNameFor(modelItem => modelItem.Floor) : @Html.DisplayFor(modelItem => modelItem.Floor)</h5>
    <h5>@Html.DisplayNameFor(modelItem => modelItem.Guests) : @Html.DisplayFor(modelItem => modelItem.Guests)</h5>
    <h5>Aditional Information : @Html.DisplayFor(modelItem => modelItem.AditionalInfo)</h5>



