
@model RentLodge.Models.Reservation
@{
}

<div class="reservation-header">

</div>
<div class="row reservation-body">
    <div class="col l7 s12 offset-l3">
            <h5>Information about your reservation</h5>
                <div class="card horizontal">
                    <div class="card-image">
                       @if (Model.Apartment.Photos.Count() > 0)
                       {
                           string photoImage = "";
                           if (Model.Apartment.Photos.First().Image != null)
                           {
                               var base64File = Convert.ToBase64String(Model.Apartment.Photos.First().Image);
                               photoImage = String.Format("data:image/gif;base64,{0}", base64File);

                           }
                        <img class="details-photo" src="@photoImage">
                       }
                       else
                       {
                            <img src="~/images/placeholder.jpg" />
                       }

                    </div>

                    <div class="card-stacked">
                        <div class="card-content">
                            <h4>@Html.DisplayFor(modelItem => modelItem.Apartment.Title)</h4>
                            <h5>Price: $ @Html.DisplayFor(modelItem => modelItem.Apartment.Price)/night</h5>
                            <p>Check-in: @Model.MoveIn.ToString("dd MMMM") (from: 12:00)</p>
                            <p>Check-out: @Model.MoveOut.ToString("dd MMMM") (until: 12:00)</p><br />
                            <p>Stay: @Model.Days Nights</p>
                           
                        </div>
                        <div class="card-action">
                            <a> Total Price: $ @Model.RentalSum</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12">
                        <div>
                        <h4>Description</h4>
                            <hr />
                            <p>@Html.DisplayNameFor(modelItem => modelItem.Apartment.Description.Bedrooms) : @Html.DisplayFor(modelItem => modelItem.Apartment.Description.Bedrooms)</p>
                            <p>@Html.DisplayNameFor(modelItem => modelItem.Apartment.Description.Bathrooms) : @Html.DisplayFor(modelItem => modelItem.Apartment.Description.Bathrooms)</p>
                            <p>@Html.DisplayNameFor(modelItem => modelItem.Apartment.Description.Floor) : @Html.DisplayFor(modelItem => modelItem.Apartment.Description.Floor)</p>
                            <p>@Html.DisplayNameFor(modelItem => modelItem.Apartment.Description.Guests) : @Html.DisplayFor(modelItem => modelItem.Apartment.Description.Guests)</p>
                            <p>Aditional Information : @Html.DisplayFor(modelItem => modelItem.Apartment.Description.AditionalInfo)</p>
                        </div>
                        <div id="PartialDescription"></div>
                    </div>
                    <div class="col l4">
                       
                    </div>
                </div>
            </div>
   </div>
