
@model RentLodge.Models.Address
@{
    ViewData["Title"] = "Address";
}

<h4>Address</h4>
<hr />
<h5>@Html.DisplayNameFor(modelItem => modelItem.City) : @Html.DisplayFor(modelItem => modelItem.City)</h5>
<h5>@Html.DisplayNameFor(modelItem => modelItem.Street) : @Html.DisplayFor(modelItem => modelItem.Street)</h5>
<h5>@Html.DisplayNameFor(modelItem => modelItem.ApartmentNumber) : @Html.DisplayFor(modelItem => modelItem.ApartmentNumber)</h5>
<h5>@Html.DisplayNameFor(modelItem => modelItem.Country) : @Html.DisplayFor(modelItem => modelItem.Country.Name)</h5>



