
@model RentLodge.Models.Address
@{
    ViewData["Title"] = "Address";
}

<h5>Address</h5>
<hr />
<p>@Html.DisplayNameFor(modelItem => modelItem.City) : @Html.DisplayFor(modelItem => modelItem.City)</p>
<p>@Html.DisplayNameFor(modelItem => modelItem.Street) : @Html.DisplayFor(modelItem => modelItem.Street)</p>
<p>Apt#: @Html.DisplayFor(modelItem => modelItem.ApartmentNumber)</p>
<p>@Html.DisplayNameFor(modelItem => modelItem.Country) : @Html.DisplayFor(modelItem => modelItem.Country.Name)</p>



