<h1>Partial from Address</h1>

@model RentLodge.Models.Address
@{
    ViewData["Title"] = "Address";
}

<h2>@ViewData["Title"].</h2>

<h4>Address</h4>
<hr />
<h2>@Html.DisplayNameFor(modelItem => modelItem.City) : @Html.DisplayFor(modelItem => modelItem.City)</h2>
<h2>@Html.DisplayNameFor(modelItem => modelItem.Street) : @Html.DisplayFor(modelItem => modelItem.Street)</h2>
<h2>@Html.DisplayNameFor(modelItem => modelItem.ApartmentNumber) : @Html.DisplayFor(modelItem => modelItem.ApartmentNumber)</h2>
<h2>@Html.DisplayNameFor(modelItem => modelItem.Country) : @Html.DisplayFor(modelItem => modelItem.Country)</h2>



